--binarygrouping none
--decimalgrouping none
--hexgrouping none
--ifdef outdent
--octalgrouping none
--patternlet inline
--self insert
--semicolons never
--stripunusedargs closure-only

--enable wrapMultilineStatementBraces
--disable redundantReturn
--disable redundantInternal
--disable indent
