--binarygrouping none
--decimalgrouping none
--hexgrouping none
--ifdef outdent
--indentcase true
--nospaceoperators /
--octalgrouping none
--patternlet inline
--self insert
--semicolons never
--stripunusedargs closure-only
